/* width */
*{
    box-sizing : border-box;
}
::-webkit-scrollbar {
    margin-top : 4px;
    background-color: #2D3436;
    height: 8px;
}
 
/* Track */
::-webkit-scrollbar-track {
    background-color: black;
    height: 5px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background-color: #2D3436;
    border-radius: 5px;
}
 
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background-color: #2C3E50
}

@media screen and (max-width: 600px){
    ::-webkit-scrollbar {
        display: none; /* WebKit browsers */
    }
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Edge */
}
